.explore-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-md) var(--padding-lg);
  background-color: #fff;
  font-family: var(--font-family);
  width: 100%;

  .explore-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h2 {
      font-size: 2.5rem;
      font-weight: 800;
      margin-bottom: 1rem;
    }

    .para {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 1rem;
      max-width: 400px;

      p {
        font-size: 1rem;
        color: #666;
        font-family: var(--font-family-roboto);
        text-align: right;
        margin-bottom: 1rem;
      }

      .view-more-button {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--padding-md) var(--padding-lg);
        border: 8px solid whitesmoke;
        color: white;
        gap: 8px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s;
        .text {
          font-size: 1rem;
          font-weight: 700;
          letter-spacing: 1px;
        }
        .svg {
          padding-top: 5px;
          height: 100%;
          width: fit-content;
          svg {
            width: 30px;
            height: 10px;
          }
        }
        &:hover {
          border: 8px solid #b1d8ff;
          background-color: #1b7aff;
        }
        &:active {
          border: 5px solid #c0dfff;
        }
        &:hover .svg svg {
          animation: jello-vertical 0.9s both;
          transform-origin: left;
        }
      }
    }
  }
}
.project__section-container {
  width: 100%;
  columns: 4 150px;
  column-gap: 10px;
  padding: var(--padding-md) var(--padding-lg);
  img {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: var(--border-radius-md);
  }
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
