.project__section-container {
  width: 100%;
  columns: 4 150px;
  column-gap: 10px;
  padding: var(--padding-md) var(--padding-lg);
  img {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: var(--border-radius-md);
  }
}

.explore-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-md) var(--padding-lg);
  background-color: #fff;
  font-family: var(--font-family);
  width: 100%;

  .explore-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h2 {
      font-size: 2.5rem;
      font-weight: 800;
      margin-bottom: 1rem;
    }

    .para {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 1rem;
      max-width: 400px;

      p {
        font-size: 1rem;
        color: #666;
        text-align: right;
        margin-bottom: 1rem;
      }

      .view-more-button {
        background-color: black;
        color: white;
        border: none;
        width: 13vw;
        padding: 0.8rem 1rem;
        border-radius: var(--border-radius-lg);
        cursor: pointer;
        font-size: 1rem;

        &:hover {
          background-color: #333;
        }
      }
    }
  }
}
