@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__container {
  @include center-flex;
  flex-direction: column;
  gap: clamp(1rem, 3vw, 2rem);
  width: 100%;
  box-sizing: border-box;
}