.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f5f2; /* Light beige background */
  padding: 1rem 1.5rem;
  font-family: "Serif", serif;
  font-size: 1.5rem;
  color: #000;
  .navbar__menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    .navbar__menu-icon {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .navbar__logo {
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: capitalize;
  }
  .navbar__actions {
    display: flex;
    align-items: center;
    gap: 2rem;
    .navbar__actions-icon {
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
.sidebar {
  font-family: var(--font-family);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 35vw;
  z-index: 999;
  background-color: rgba(245, 245, 245, 0.87);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: var(--padding-sm);
  transform: translateX(100%);
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-block: calc(var(--padding-lg) + 1rem);
    text-transform: capitalize;
    position: relative;
    &::after{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      bottom: -0.7rem;
      height: 2px;
      background-color: #333;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    padding: calc(var(--padding-md) + 1rem) calc(var(--padding-md) + 1.5rem);
    list-style: none;
    li {
      width: 100%;
      a {
        text-decoration: none;
        color: #111;
        font-size: 1.8rem;
        position: relative;
        display: inline-block;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 2px;
          background-color: #333;
          transition: width 0.3s ease-in-out;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  .sidebar__close-icon{
    position: absolute;
    top: 0.8rem;
    right: 1rem;
  }
}

.sidebar__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 998;
  opacity: 0;
  cursor: pointer;
}
