.footer {
  margin-top: 14vh;
  background-color: #f9f7f2;
  color: var(--color-primary);
  font-family: var(--font-family);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ddd;

  &__top {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 3rem 2rem;
  }

  &__engagement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 3rem;
  }

  &__engagement-content {
    flex: 1;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
      line-height: 1.2;
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      letter-spacing: 0.5px;
      color: #ccc;
    }
  }

  &__engagement-image {
    flex: 1;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: var(--border-radius-md);
    }
  }

  &__center {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 2rem;
    padding: 2rem;
  }

  &__section {
    flex: 1;
    margin: 0 1rem;

    h4 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-weight: 500;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.5rem;
        font-family: var(--font-family-roboto);
        a {
          text-decoration: none;
          color: #333;
          position: relative;
          display: inline-block;
          transition: color 0.3s;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 1px;
            background-color: #333;
            transition: width 0.3s ease-in-out;
          }

          &:hover {
            color: #555;

            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &__bottom {
    text-align: center;
    font-size: 0.9rem;
    color: var(--color-secondary);
    div {
      width: 100%;
      height: 10vh;
      h1 {
        color: var(--color-primary);
        font-size: 8rem;
        text-transform: capitalize;
        line-height: 1;
        margin-top: 0.5rem;
        font-weight: 500;
      }
    }
  }
}
