.about__section {
  width: 100%;
  padding: var(--spacing-large) var(--spacing-medium);
  font-family: var(--font-family);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-large);

  .about__image_left_wrapper {
    width: 75%;
    position: relative;
    img {
      width: 100%;
      aspect-ratio: 3/2;
      display: block;
      border-radius: var(--border-radius-lg);
    }
    .about__image_overlay {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 30vh;
      border-radius: var(--border-radius-xl);
      .highlighted_text {
        position: absolute;
        bottom: 10%;
        right: 3%;
        button {
          font-family: var(--font-family);
          text-transform: capitalize;
          background: none;
          border: 1px solid var(--color-primary);
          padding: var(--padding-md) var(--padding-sm);
          font-size: var(--font-size);
          font-weight: 400;
          color: #fff;
          cursor: pointer;
          border-radius: var(--border-radius-lg);
        }
      }
      .about__image_overlay_content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        background-color: #fff;
        color: var(--color-primary);
        border-top-right-radius: var(--border-radius-lg);
        .about__image_overlay_text {
          display: flex;
          flex-direction: column;
          font-weight: 700;
          gap: var(--spacing-small);
          font-size: 2rem;
          padding: var(--padding-md) var(--padding-sm);
          width: 60%;
          .second_text {
            font-size: 3rem;
          }
        }
      }
    }
  }
  .about__text_right_wrapper {
    width: 26%;
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    .about__text_right_content {
      width: 100%;
      height: 40%;
      border-radius: var(--border-radius-lg);
      background-color: #f8ede1; /* Light beige background */
      padding-block: var(--padding-xl);
      padding-inline: var(--padding-md);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: var(--spacing-large);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      .about__text_right_button {
        font-family: var(--font-family);
        border: 1px solid var(--color-primary);
        background: none;
        outline: none;
        padding: var(--padding-sm) var(--padding-lg);
        font-size: 0.7rem;
        border-radius: var(--border-radius-lg);
        color: var(--color-primary);
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 0.7rem;
      }

      .about__text_right_heading {
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--color-primary);
      }

      .about__text_right_paragraph {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
    .about__text_right_bottom {
      position: relative;
      width: 100%;
      height: 65%;
      border-radius: var(--border-radius-lg);
      background-color: var(--color-accent);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--border-radius-lg);
      }
      .link {
        position: absolute;
        bottom: -3%;
        right: -4%;
        background-color: rgb(10, 10, 10);
        border-radius: 50%;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 10px solid whitesmoke;
        svg {
          width: 20px;
          height: 20px;
          color: whitesmoke;
        }
      }
    }
  }
}
