.about__section {
  width: 100%;
  padding: 60px 20px;
  font-family: var(--font-family);

  .about__image_wrapper {
    width: 60%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      aspect-ratio: 3/2;
      display: block;
      border-radius: 5vw;
    }
    .about__image_overlay {
      position: absolute;
      width: 100%;
      bottom:0;
      height: 30vh;
      border-radius: 5vw;
      .highlighted_text {
        position: absolute;
        bottom: 10%;
        right: 3%;
        button {
          background: none;
          border: 1px solid var(--color-primary);
          padding: 1rem 0.8rem;
          font-size: 1rem;
          font-weight: bold;
          color: #fff;
          cursor: pointer;
          border-radius: 5vw;
        }
      }
      .about__image_overlay_content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        background-color: #fff;
        color: var(--color-primary);
        border-top-right-radius: 5vw;
        .about__image_overlay_text {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          font-size: 2rem;
          padding: 1rem 0.8rem;
          width: 60%;
          .second_text {
            font-size: 3rem;
          }
        }
      }
    }
  }
}
