.about__section {
  width: 100%;
  padding: 60px 20px;

  .about__image_wrapper {
    width: 60%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      aspect-ratio: 3/2;
      display: block;
      border-radius: 5vw;
    }
    .about__image_overlay {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: red;
      border-radius: 5vw;
      .highlighted_text {
        position: absolute;
        top: 0;
        left: 0;
        button {
          background: none;
          border: 1px solid var(--color-primary);
          padding: 1rem 0.8rem;
          font-size: 1rem;
          font-weight: bold;
          color: #fff;
          cursor: pointer;
          border-radius: 5vw;
        }
      }
      .about__image_overlay_content {
        position: absolute;
        bottom: 0;
        left: 0;
        .about__image_overlay_text {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          font-size: 1.5rem;
          padding: 1.3rem 1.5rem;
          color: var(--color-primary);
          background-color: #fff;
          border-top-right-radius: 5vw;
          width: 60%;
        }
      }
    }
  }
}
